[user]
  name = Keigo AOKI
  email = hoyo1111@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto

[core]
  excludesfile = ~/.gitignore

[alias]
  st = status
  ci = commit -a

